 
  <div class="footer_item">
    <h2 class="logo">
      <a href="index.html" class="texthide">Rehome</a>
    </h2>

    <p>株式会社レンホモウ</p>
    <p>〒541-0059 大阪市中央区博労町1-7-2</p>
    <p>TEL 06-6271-5070（10:00～19:00）</p>
  </div>

  <div class="footer_item">
    <h2>CONTACT</h2>
    <div class="menu-link">
      <a href="./login.html">メルマガ登録</a>
      <a href="javascript:ssl_login('mypage')">会員登録</a>
    </div>

    <ul class="ct-connect">
      <li><a><i class="fab fa-twitter"></i></a></li>
      <li><a><i class="fab fa-twitter-square"></i></a></li>
      <li><a><i class="fab fa-instagram"></i></a></li>
      <li><a><i class="fab fa-facebook"></i></a></li>
    </ul>


  </div>

  <div class="footer_item">
    <h2>HOME</h2>
    <ul>
      <li><a href="#">ショッピングガイド</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">会社概要</a></li>
      <li><a href="#">サイトマップ</a></li>
    </ul>
  </div>

  <small>&copy;2022 Reira.Co.,Ltd. All Rights Reserved.</small>
 